[submodule "cmock"]
	path = cmock
	url = https://github.com/throwtheswitch/cmock.git
[submodule "Unity"]
	path = Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "CMock"]
	path = CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
